.node_circle {
  stroke: #000;
  fill:#000;
  opacity:1;
}

.graph_link {
  stroke: #999;
  stroke-opacity:.6;
  fill:#000;
  opacity: 1;
}

.node_text {
    color:#fff;
    opacity:1;
}

path {
    stroke: #999;
    stroke-width: 1;
}

.cluster_node {
    stroke: #000;
    stroke-width:0;
    fill: #fff;
    fill-opacity: 1;
}

.cluster_link {
    stroke: #999;
    stroke-opacity: 1;
    fill:#000000;
    opacity: .4;
}

.page-header {
    margin: 0px 0px 0px 0px;
}

#colorbutton {
  margin-right: 20px;
}

#sizebutton {
  margin-right: 20px;
}
