.graph_node {
<<<<<<< HEAD
  stroke: #fff;
  opacity: 0;
  fill: #fff;
=======
  stroke: #999;
  fill:#000;
  opacity:.3;
>>>>>>> Non-string names coverted to string
}

.graph_link {
  stroke: #000;
  stroke-opacity: .3;
  fill:#000;
  opacity: 1;
  stroke-width:3;
  
}

path {
  stroke: #999;
  stroke-width: 1;
}

.cluster_node {
  stroke: #000;
  stroke-width:0;
  fill: #fff;
  fill-opacity: 1;
}

.cluster_link {
  stroke: #999;
  stroke-opacity: 1;
  fill:#000000;
  opacity: .4;
  
}
